/*****************************Global*****************************/
h4 {
  /* subheadings */
  font-size:1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0 14px;
}

span {
  color: #566ED1;
}

/*****************************Homepage*****************************/

#home {
  background-color: #EFF8FF;
}

#home h2 h5 {
  top: 5%;
}

.origin {
  position: fixed;
  width: 100%;
}

.zoom-in {
  position: fixed;
  bottom: -200px;
  object-fit: cover;
  width: 200%;
}

.leave {
  opacity: 0;
  transform: scale(2, 2);
  -webkit-transition: transform 2s ease-in-out;
  position: fixed;
  bottom: -200;
  object-fit: cover;
  width: 200%;
}

/*****************************Involve*****************************/
.involve-roles img {
  width: 70%;
  padding: 1em 0;
}

.involve-action {
  font-size: 1.1em;
  color: #333;
  position: absolute;
  border-radius: 10px;
  font-weight: bold;
  top: 4em;
  left: 15%;
  right: 15%;
  cursor: pointer;
}

.involve-action-img {
  width: 70%;
  padding: 1em 0;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.involve-roles a:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
  text-decoration: none;
  text-decoration-color: #4496FF;
}

.involve-roles a:hover h5 {
  color: #4496FF;
}

.involve-roles h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
/*****************************About*****************************/
#about * {
  text-align: center;
}

#about h5 {
  width: 90%;
  margin-left: 5%;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: all .4s;
  transition: all .4s;
}

/* .slider:after {
  content: "innovator";
  padding-left: 34px;
} */

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 0;
  bottom: 4px;
  background-color: white;
  /* -webkit-transform: translateX(68px);
  -ms-transform: translateX(68px);
  transform: translateX(68px); */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.subnav {
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: 3.5em;
    left: 0.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
    padding: 1.5em 1em;
    background-color: white;
    z-index: 1000;
}

.subnav-link:hover {
    color: rgba(0, 0, 0, 0.7)!important;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.subnav-link-active {
    color: rgba(0, 0, 0, 0.7)!important;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.subnav-link-active:hover {
    color: rgba(0, 0, 0, 0.7)!important;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

svg:hover {
    cursor: pointer;
}
/*
.header {
  background-image: url('../img/about_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.header h1 {
  padding-top: 3em;
}

.about-value {
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.5em;
  box-shadow: 1px 1px 8px 1px #666666;
}


.about_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 0;
    border: none;
    background: none;
}

.about_button:hover {
    color: #4496FF!important;
}

.about_button:active {
    color: #566ED1!important;
    font-weight: 700;
    font-size: 0.9em;
}

#comm_timeline {
  display: none;
}

/*****************************Mobile (default)*****************************/
.container {
    max-width: 375px;
    padding: 0;
}

.inner-container {
    width: 90%;
    margin-left: 5%;
}

.desktop {
    display: none;
}

.home-content {
    position: relative;
    top: 5em;
}

/*****************************Tablet*****************************/
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .home-content {
      position: relative;
      top: 6em;
      width: 80%;
      margin-left: 10%;
    }
  }

/*****************************Laptop*****************************/
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .mobile * {
        display: none;
    }

    .mobile {
        display: none;
    }

    .home-content {
      position: absolute;
      width: 50%;
      top: 8em;
    }

    .vertical {
      display: none;
    }

    .horizontal {
      display: inline;
    }


}

.div-large{
  display: block;
  height:18vh;
}

.div-small{
  display: block;
  height:5vh;
}

.div-endpage{
  display: block;
  height:10vh;
}

.image{
  background:url('../img/lajollacove.png');
  position: relative;
  height: 45vh;
  width: 100%;
}

.image h3{
  color: white;
  opacity: 1.0;
  font-weight: bold;
}
