/*****************************Homepage*****************************/
.home-content {
  position: relative;
  z-index: 100;
  width: 40%;
  margin-bottom: 10px;
  margin-left: 10%;
}

.origin {
  position: fixed;
  width: 100%;
}

.zoom-in {
  position: fixed;
  bottom: -200px;
  object-fit: cover;
  width: 200%;
}

.leave {
  opacity: 0;
  transform: scale(2, 2);
  -webkit-transition: transform 2s ease-in-out;
  position: fixed;
  bottom: -200;
  object-fit: cover;
  width: 200%;
}

/*****************************Involve*****************************/
.involve-roles img {
  width: 70%;
  margin: 1em 0;
}

.involve-roles a:hover {
  filter: drop-shadow(5px 5px 5px #89A4D2);
  text-decoration: none;
  text-decoration-color: #4496FF;
}

.involve-roles h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.involve-roles h5:hover {
  color: #4496FF;
}

/*****************************About*****************************/
.about-value {
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.5em;
  box-shadow: 1px 1px 8px 1px #666666;
}

/*****************************Mobile (default)*****************************/
.container {
    max-width: 375px;
    padding: 0;
}

.inner-container {
    width: 90%;
    margin-left: 5%;
}

.desktop {
    display: none;
}

/*****************************Tablet*****************************/
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
  }

/*****************************Laptop*****************************/
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .mobile * {
        display: none;
    }

    .mobile {
        display: none;
    }

}

.div-large{
  display: block;
  height:18vh;
}

.div-small{
  display: block;
  height:5vh;
}

.div-endpage{
  display: block;
  height:10vh;
}

.image{
  background:url('../img/lajollacove.png');
  position: relative;
  height: 45vh;
  width: 100%;
}

.image-filter{
  background: linear-gradient(-45deg, rgba(12,46,90), rgba(45,115,167));
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-filter h4{
  color: white;
  opacity: 1.0;
  font-weight: bold;
}
