/****************************Global******************************/
.border-secondary {
    border-color: #4496FF!important;
}

/****************************Navbar******************************/
.main-nav {
  background-color: #FFFFFF;
  /* opacity: 0.8; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 6px;
}

.navbar img {
    width: 5rem;
}

.navbar a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-link:hover {
    color: #8FC0FF!important;
    font-weight: 600;
}

.nav-link.active {
    color: #4496FF!important;
    font-weight: 700;
}

/****************************Button******************************/
#landing_btn a {
    border-radius: 25px;
    border: 1.5px solid #1A89DB;
    font-size: 1em;
    color: #1A89DB;
    text-align: center;
    font-weight: 900;
    padding: 0.75em 1.25em;
}

#landing_btn a:hover {
    text-decoration: none;
    background-color: #1A89DB;
    color: white;
}

/****************************EventCard******************************/
#event-card {
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px grey;
}


#event-card h5 {
    font-family: 'Roboto', sans-serif;
}

#event-card p {
    font-family: 'Roboto', sans-serif;
}

#event-card .row {
    margin: 0;
}

/****************************HeaderCard******************************/
#header-card {
  height: 50vh;
  background-image: url('../img/header.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header-card h2{
  color: black;
  font-size: 2.7em;
  text-shadow: 0px 0px 0px #FFFFFF;
}

/****************************RoleCard******************************/
#role-card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 24px 24px 0 24px;
}

.role-card-hovered {
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.6);
    padding: 24px 24px 0 24px;
    border-radius: 10px;
}

.action-btn {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: -15px;
    margin-right: -15px;
    cursor: pointer;

}

.action-btn i {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.btn-style {
    border-radius: 25px;
    border: 1px solid #1A89DB;
    font-size: 0.9em;
    color: #1A89DB;
    text-align: center;
    font-weight: 500;
    padding: 0.5em 1em 0.5em 1em;
}

.btn-style:hover {
  text-decoration: none;
  background-color: #1A89DB;
  color: white;
}

/****************************Sidebar******************************/

#sidebar {
    height: calc(100vh - 57px);
    display: none;
}

/****************************Submission******************************/
#submission button {
    background: none;
    border: none;
}

/*****************************Tablet*****************************/
@media screen and (min-width: 320px) {
    .navbar a {
        font-size: 1em;
    }
}


/*****************************Tablet*****************************/
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/*****************************Laptop*****************************/
@media screen and (min-width: 1440px) {
    .navbar a {
        font-size: 1em;
    }

    #sidebar {
        height: calc(100vh - 57px);
        display: block;
    }

}

/*****************************Desktop*****************************/
@media screen and (min-width: 2560px) {
    .navbar a {
        font-size: 1.75em;
    }
}
